/*LANDING PAGE*/
html{
  margin: 0;
  padding: 0;
  width: 100%;
}
body{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: #ededed;
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
}
footer{
  background-color: white;
}
.konten
{
 background-color: #42eeee;
}
#left-content
    {
      padding-left: 10px;
      padding-top:25px;
}

.menu a
{
  color: #08596A;
}

.collorgrey
{
  color: #08596A !important;
}


.image{
  position: absolute;
  top: 50%;
  left:36%;
  transform: translate(-50%,-50%);

}
.image img{
  width: 53%;
}

.tagline{
  position: absolute;
  transform: translate(-50%,-50%);
  text-align: center;
  top: 55%;
  left: 73%;
}
.tagline p{
  color: #fff;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  text-align: left;
  color:  #08596A;
}

#right-content
{
  position: center;
  padding-right: 100px;
}

#login
{
  position: center;
  
}

.back
{
  padding-top: 10px;
}
.bold
{
  font-weight: bold;
}

/*SETELAH LOGIN*/

.sidebars {
  display: flex;
  flex-wrap: nowrap;
  height: 110vh;
  height: -webkit-fill-available;
  overflow-x: auto;
  overflow-y: hidden;
}
.bi {
  vertical-align: -.125em;
  pointer-events: none;
  fill: currentColor;
}

.dropdown-toggle { outline: 0; }

.nav-flush .nav-link {
  border-radius: 0;
}

.btn-toggle {
  display: inline-flex;
  align-items: center;
  padding: .25rem .5rem;
  font-weight: 600;
  color: rgba(0, 0, 0, .65);
  background-color: transparent;
  border: 0;
}
.btn-toggle:hover,
.btn-toggle:focus {
  color: rgba(0, 0, 0, .85);
  background-color: #d2f4ea;
}

.btn-toggle::before {
  width: 1.25em;
  line-height: 0;
  content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
  transition: transform .35s ease;
  transform-origin: .5em 50%;
}

.btn-toggle[aria-expanded="true"] {
  color: rgba(0, 0, 0, .85);
}
.btn-toggle[aria-expanded="true"]::before {
  transform: rotate(90deg);
}

.btn-toggle-nav a {
  display: inline-flex;
  padding: .1875rem .5rem;
  margin-top: .125rem;
  margin-left: 1.25rem;
  text-decoration: none;
}
.btn-toggle-nav a:hover,
.btn-toggle-nav a:focus {
  background-color: #d2f4ea;
}

.scrollarea {
  overflow-y: auto;
}

.fw-semibold { font-weight: 600; }
.lh-tight { line-height: 1.25; }

.yellow
{
  color: #ffc107;
}

/* POPUP */
/*
.card img{
  max-width: 120px;
}
*/
.btn{
  font-size: 0.8rem;
  padding: 0.75rem 1rem;
}

/* PROGRESS BAR */
.popup {

width: 100%;
cursor: pointer;
}

.progressbar {

counter-reset: step;

}

.progressbar li {

list-style-type: none;

float: left;

width: 50%;

position: relative;

text-align: center;

}

.progressbar li:before {

content: counter(step);

counter-increment: step;

width: 30px;

height: 30px;

line-height: 30px;

border: 2px solid #ddd;

display: block;

text-align: center;

margin: 0 auto 10px auto;

border-radius: 50%;

background-color: white;

}

.progressbar li:after {

content: '';

position: absolute;

width: 100%;

height: 2px;

background-color: #ddd;

top: 15px;

left: -50%;

z-index: -1;

}

.progressbar li:first-child:after {

content: none;

}

.progressbar li.satu {

color: green;

}

.progressbar li.satu:before {

border-color: green;

}

.progressbar li.satu + li:after {

background-color: green;

}

.progressbar li.dua {

color: blue;

}

.progressbar li.dua:before {

border-color: blue;

}

.progressbar li.dua + li:after {

background-color: blue;

}

/* PROGRESS BAR END */

.foto
{
   height: 120px; 
   width: 140px; 
}
.details1
{
  padding-left: 160px;
}
.text-content
{
  text-align: left;
  font-style: italic;
}

/*------ RATING ------*/

.layout
  {

    height: 450px !important;
    border:5px solid #0a0a0a;
    border-radius:5px !important;
    justify-content: center;
    }
.padding
{
  padding-top: 60px;
}

.ratings{
  position: relative;
  width: 400px;
  background: none;
  padding: 20px 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.ratings .post{
  display: none;
}
.ratings .text{
  font-size: 25px;
  color: #666;
  font-weight: 500;
}
.ratings .edit{
  position: absolute;
  right: 10px;
  top: 5px;
  font-size: 16px;
  color: #666;
  font-weight: 500;
  cursor: pointer;
}
.ratings .edit:hover{
  text-decoration: underline;
}
.ratings .star-widget input{
  display: none;
}
.star-widget label{
  font-size: 40px;
  color: #444;
  padding: 10px;
  float: right;
  transition: all 0.2s ease;
}
input:not(:checked) ~ label:hover,
input:not(:checked) ~ label:hover ~ label{
  color: #fd4;
}
input:checked ~ label{
  color: #fd4;
}
input#rate-5:checked ~ label{
  color: #fe7;
  text-shadow: 0 0 20px #952;
}
#rate-1:checked ~ form header:before{
  content: "Sangat tidak Puas";
}
#rate-2:checked ~ form header:before{
  content: "Tidak puas";
}
#rate-3:checked ~ form header:before{
  content: "Cukup Puas ";
}
#rate-4:checked ~ form header:before{
  content: "Memuaskan";
}
#rate-5:checked ~ form header:before{
  content: "Sangat Memuaskan";
}
.ratings form{
  display: none;
}
input:checked ~ form{
  display: block;
}
form header{
  width: 100%;
  font-size: 25px;
  color: #fe7;
  font-weight: 500;
  margin: 5px 0 20px 0;
  text-align: center;
  transition: all 0.2s ease;
}

/*DETAIL*/
.detailrating i
{
  font-size: 20px;
}

/*JAM*/
#demo
{
  width: 50%;
  color: #fff;
  font-size: 30px;
  font-weight: bold;
  font-family: sans-serif;
  background:#ea0202;
  border-radius: 7px;
  text-align: center;
}

.blink 
{
  animation: blinker 1s linear infinite;
  color: #1c87c9;
  font-size: 30px;
  font-weight: bold;
  font-family: sans-serif;
}
@keyframes blinker { 50% 
{
  opacity: 0;
}

.kelasmulai
{
  color: #1c87c9;
  font-size: 30px;
  font-weight: bold;
  font-family: sans-serif;
}